html{
	color:#000;
	background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img{
	border:0;
}
img{
	border: 0;
}
input,select,textarea{
	outline:none;
}
textarea{
	resize:none;
}
a{
	text-decoration:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
address,
caption,
cite,
code,
dfn,

strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}

ol,
ul {
	list-style:none;
}

caption,
th {
	text-align:left;
}
/* 清除浮动*/
.clearfix{
	clear:both;
}
*{
	padding: 0;
	margin: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}

.table-page{
	width:1000px;
	margin: 0 auto;
	
	text-align: center;

}
.table-page div a:hover{
	color: #A6272C;

}
 p{
	font-size: 14px;
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body{
    font-family: "microsoft yahei"!important;
}