.main-instr{
  width: 1240px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;


}
.line{
  background: url("/static/index/img/line2.png") repeat-x;
  height: 1px;
  overflow: hidden;
}

.breadNav{
  padding-left: 150px;
  font-size: 14px;
  height: 50px;
  position: relative;
  z-index: 20;
  
}
.breadNav a{
  display: inline-block;
  line-height: 50px;
 

}

.home{
  padding: 20px;
  background: url("/static/index/img/home.png") no-repeat center center;
}
.slider{
  width: 150px;
}
.tabs{
    text-align: center;     
}
.tabs ul{
    float: left;
}

.tabs ul li a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    width: 150px;
    text-align: center;
}

.tabs ul li a.tab-active {
    position: relative;
    background: #ccc;
}
.tabs ul li a.tab-active:after{
    content: "";
    position: absolute;
    left: 0%;
    /*top: 32px;*/
    width: 20px;
    height: 50px;
    margin: auto;
    background-color: #A6272C; 
}


/* The content */

.tabs .tabs-content{
    overflow: hidden;    
}
.line1{
    background: url("/static/index/img/line1.png") repeat-y;
    position: relative;
    top: -50px;
   
}

.tabs .tabs-content .slider-wrapper{
    display: none;
    margin-top:50px;
}

.tabs .tabs-content div.tab-content-active{
    display: block;
}

.tabs .tabs-content div p{
    color: #000;
   
}

.slider-content{
    margin: 0px 0px 0px 20px;
    background: url(/static/index/img/line3.png) repeat-x left bottom;
    padding: 30px 0px;
    overflow: hidden;
}
.content-line{
  background: url(/static/index/img/line3.png) repeat-x left bottom;
    padding: 60px 0px;
    overflow: hidden;
}
.content-right{
  width: 848px;
  line-height: 24px;
 

}
.content-p{
	text-align:left;
  margin-top: 10px;
  line-height: 28px;
  font-size: 14px;
}
