	<div region="west" border="true" split="true" title="显示/隐藏" class="cs-west">
		<div class="easyui-accordion" fit="true" border="false" >
			<div title="文章管理" iconCls="icon-photo">
				<p><a href="javascript:void(0);" src="{:url('article/index')}" class="cs-navi-tab">文章管理</a></p>
				<p><a href="javascript:void(0);" src="{:url('article/add')}" class="cs-navi-tab">添加文章</a></p>
			</div>
			<div title="导航栏" iconCls="icon-fit">
				<p><a href="javascript:void(0);" src="{:url('nav/index')}" class="cs-navi-tab">导航栏</a></p>
				<p><a href="javascript:void(0);" src="{:url('nav/add')}" class="cs-navi-tab">增加顶级导航</a></p>
			</div>
			<div title="管理员管理" iconCls="icon-user">
				<p><a href="javascript:void(0);" src="{:url('index/admin_list')}" class="cs-navi-tab">管理员列表</a></p>
				<p><a href="javascript:void(0);" src="{:url('index/add')}" class="cs-navi-tab">增加管理员</a></p>
			</div>
			<div title="友情链接管理" iconCls="icon-photo">
				<p><a href="javascript:void(0);" src="{:url('youqing/index')}" class="cs-navi-tab">友情链接</a></p>
				<p><a href="javascript:void(0);" src="{:url('youqing/add')}" class="cs-navi-tab">增加友情链接</a></p>
			</div>
			<div title="招聘管理" iconCls="icon-photo">
				<p><a href="javascript:void(0);" src="{:url('zhaopin/index')}" class="cs-navi-tab">职位表</a></p>
				<p><a href="javascript:void(0);" src="{:url('zhaopin/add')}" class="cs-navi-tab">增加职位</a></p>
			</div>
			<div title="首页轮播图" iconCls="icon-photo">
				<p><a href="javascript:void(0);" src="{:url('lunbo/index')}" class="cs-navi-tab">轮播图</a></p>
			</div>
		</div>
	</div> 