<body class="easyui-layout">
	<div region="north" border="false" class="cs-north" style="width:100%">
		<div class="cs-north-bg">
			<a href="#" class="cs-north-logo" style="float:left">黑金魁拔后台</a>
			<a href="#"class="left">
				<span style="color: #990000;">竹文投后台管理界面</span>
			</a>
		
		 	<nav id="nav" class="nav right">
				<ul class="first">
					<li>
						<a href="" target="_blank">代理前台</a>
					</li>
					<li>
						<a href="" target="_blank">防伪前台</a>
					</li>
					<li>
						<a href="" target="_blank">代理商登录</a>
					</li>
					<li>欢迎管理员:{$nickname}</li>
	
					<li>
						
						<a href="{:url('login/logout')}">
							<i class="fa fa-circle-o-notch" aria-hidden="true"></i>
						注销</a>
					</li>
				</ul>
			</nav> 
		</div>
	
	</div>