<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>集团新闻</title>
	<link rel="stylesheet" href="/static/index/css/base1.css">
	<link rel="stylesheet" href="/static/index/css/style.css">
	<link rel="stylesheet" href="/static/index/css/details.css">
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
	<img src="/static/index/img/news.jpg" alt="" width="100%">
	<div class="fBg"></div>
	<div class="page-container">
		<div class="pageAbsout">
	    	<a href="/" class="indexlogo"></a>
	        <a href="/About/index.html">您所在的位置：</a> &gt;
	        <a href="/">竹文投</a> &gt;  
	        <a href="{:url('index/'.$onenav.htmlName,['id'=>$onenav.id])}">{$onenav.navName}</a> &gt; 
	        <a href="{:url('index/'.$twonav.htmlName,['id'=>$twonav.id])}">{$twonav.navName}</a> &gt; 
	        <a href="" class="cur">{$article.title}</a>
		</div>


		<div class="commonDetailed">
            <div class="commonDetailedtitle">
                <h3>{$article.title}</h3>
                <p class="date">发布日期：{$article.created}</p>

            </div>

            <div class="commonDetailedContents">
            	{$article.introtext}	
            </div>
            <div class="commonDetailedContentsfoot">
                <p class="return"><a href="{:url('index/'.$twonav.htmlName,['id'=>$twonav.id])}">返回</a></p>
             
                <dl class="clearfix">
                    <dt>
                    	{if condition="($back=='')"}
                    	<span>暂&nbsp;&nbsp;&nbsp;无</span>
                    	{else/}
                        <a href="{:url('index/article',['id'=>$back.id])}">
                        	<span>上一条</span>{$back.title}
                        </a>
                        {/if}
                        {if condition="($next=='')"}
                    	<span>暂&nbsp;&nbsp;&nbsp;无</span>
                    	{else/}
                        <a href="{:url('index/article',['id'=>$next.id])}">
                        	<span>下一条</span>{$next.title}
                        </a>
                        {/if}
                    </dt>
                </dl>
            </div>
        </div>
		

	</div>


	<!-- footer -->
	<div class="footer">	
		<div class="footer-container clearfix">
			<div class="rightfooter">
				<div class="erweima">
					<span></span>
				</div>
				<p>总部地址：上海市嘉定区南翔镇银翔路515号2号楼</p>
				<br>
				<p>邮编：201802&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：021-69981183</p>
			</div>
			<div class="textfooter">
				<p>
					<a href="">法律声明</a>
					<a href="">联系方式</a>
					<a href="">技术支持</a>
				</p>

				<p>
					©2017 正中投资集团有限公司 版权所有 | 
					<a href="" target="_blank">粤ICP备14060846号</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	
</body>
<script src="/static/index/js/jquery-1.12.4.min.js"></script>
<script src="/static/index/js/index.js"></script>
<script>
	// $(".down_2:first").css("display","block");

</script>
</html>

