<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="format-detection" content="telephone=no">

<meta name ="keywords" content="竹签,竹文投,竹签文化,竹文品牌,美女,竹,签,周杰伦,刘德华,谭咏麟,金融,明星,电影,综艺,时政,胡歌,头条,热点,段子,内涵,你懂的,内涵段子">
<meta name="description" content="竹签,竹签文化,竹文投,竹文品牌,这是问答">
<title>招聘FAQ</title>
<link rel="stylesheet" href="/static/index/css/base1.css">
<link rel="stylesheet" href="/static/index/css/style.css">
<link rel="stylesheet" href="/static/index/css/contact/public.css">
<link rel="stylesheet" href="/static/index/css/contact/job.css">
</head>
<body>
<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
	<img src="/static/index/img/contact.jpg" alt="" width="100%">
	<div class="page-container">
		<div class="pageAbsout">
	    	<a href="/" class="indexlogo"></a>
	        <a href="">您所在的位置：</a>
	        <a href="/">竹文投</a> &gt;  
	        <a href="{:url('index/about',['id'=>42])}">联系我们</a> &gt; 
	        <a href="" class="cur">招聘FAQ</a>
		</div>
		
	</div>
<div class="tabs">
        <div class="box">
          <div class="box-option">
              <div class="option">
                  <ul>
                      <li><a href="{:url('index/about',['id'=>44])}">招聘公告</a></li>
                      <li><a href="/index/index/shezhao">社会招聘</a></li>
                      <li><a href="" class="current">招聘FAQ</a></li>
                        <div class="clearfix"></div>
                  </ul>
              </div>
          </div>
            <div class="clearfix"></div>
            <!-- 选项卡内容 -->
            <div class="card">
                <ul>
                  <li class="hover"> 
                                          <p class="notice">招聘FAQ</p>
                      <div>
	                      <div class="a-p">
							<p>Q1：如何申请公司的职位？</p>
							<strong>A</strong>：招聘的职位会第一时间在招聘公告里显示，正在进行的流程和时间段也同时显示。请在规定时间内根据相关招聘类型选择适合您的职位，在线完整填写您的个人简历；填写完毕之后请务必点击提交，提交之后您的求职申请才正式生成。 相同身份证号只可申请一次相同职位。</div>
							
							<div class="a-p">
							<p>Q2：除了在线申请还有其他什么形式可以申请？</p>
							<strong>A</strong>：除官网招聘信息外，您还可以登录智联招聘、51JOB等各大招聘网站进行简历投递，具体招聘信息以各大招聘网站推送为准。</div>
							
							<div class="a-p">
							<p>Q3：每个人可以申请几个职位？几个公司地点？</p>
							<strong>A</strong>：职位可以申请多个，我公司将以简历匹配度及个人能力决定您的工作岗位，工作地点也可以申请2个。</div>
							
							<div class="a-p">
							<p>Q4：整个招聘流程是怎样？</p>
							<strong>A</strong>：简历投递——简历筛选——初试——机试——复试</div>
							
							<div class="a-p">
							<p>Q5：面试的形式是如何？用什么语言进行？</p>
							<strong>A</strong>：面试基本上采用单人面试，用中文进行。</div>
							
							<div class="a-p">
							<p>Q6：如果这次没有适合我的职位，我又想加入公司怎么办？</p>
							<strong>A</strong>：您可以选择将自己的简历录入到我们的招聘后台，在有相关职位OPEN的时候，我们会首先会优先考虑录入者作为中招聘候选人。</div>
							
							<div class="a-p">
							<p>Q7：如果我在应聘的过程中碰到难题，怎么办？</p>
							<strong>A</strong>：请在“我要提问”中进行相关问题的提问，我们在收到问题会第一时间给您答复。
						   </div>
                    </div>
                   <div class="clearfix"></div>
                   </li> 
                </ul>
            </div>
         </div>
     </div>
    
    
 <div class="CoreImg"></div>

<!-- 底部开始 -->
	{include file="Public/footer" /}
</body>
<script src="/static/index/js/jquery-1.12.4.min.js"></script>
<script src="/static/index/js/index.js"></script>
<script>
	$(".down_2:nth-").css("display","block");

</script>
</html>