<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="format-detection" content="telephone=no">
	
	<meta name ="keywords" content="竹签,竹文投,竹签文化,竹文品牌,美女,竹,签,周杰伦,刘德华,谭咏麟,金融,明星,电影,综艺,时政,胡歌,头条,热点,段子,内涵,你懂的,内涵段子">
<meta name="description" content="竹签,竹签文化,竹文投,竹文品牌,这是公司">
	<title>{$article.title}</title>
	 <link rel="stylesheet" type="text/css" href="/static/index/css/base1.css"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/style.css"/>
	<link rel="stylesheet" href="/static/index/css/science.css">
	<link rel="stylesheet" href="/static/index/css/product.css">
	<style>
		.w1060 .img{
			background: url("{$article.img}") no-repeat center center;
			background-size: 65%;
		}
		
		.jituan{
			background:#a6272c;
			color: #fff;
		}
		.tishi{
		    text-align:center;
			font-size:20px;
		}
		.fanhui {
		    background: #a6272c none repeat scroll 0 0;
		    color: #fff;
		    display: inline-block;
		    font-size: 16px;
		    height: 42px;
		    line-height: 42px;
		    text-align: center;
		    width: 140px;
		}
		.fanhui:hover{
			color: #fff;
		}	
</style>
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
	<div class="fBg"></div>
	{if condition="($article!='')"}
	<div class="page-container">
		<div class="pageAbsout">
	    	<a href="/" class="indexlogo"></a>
	        <a href="">您所在的位置：</a> &gt;
	        <a href="{:url('index/index')}">竹文投</a> &gt;  
	        <a href="{:url('index/'.$onenav.htmlName,['id'=>$onenav.id])}">{$onenav.navName}</a> &gt; 
	        <a href="{:url('index/'.$twonav.htmlName,['id'=>$twonav.id])}">{$twonav.navName}</a> &gt;
	        <a href="" class="cur">{$article.title}</a>
		</div>
			{$article.introtext}
			
	</div>
	{else/}
		<div>
			<br />
			<div class="tishi">内容待更新，敬请期待。。。<br /><br />
			<p><a class="fanhui" href="#" onClick="javascript :history.back(-1);">返回</a></p></div>
			<br />
		</div>
	{/if}
	
			

	<!-- 底部开始 -->
	{include file="Public/footer" /}
	
	
</body>
<script src="/static/index/js/jquery-1.12.4.min.js"></script>
<script src="/static/index/js/index.js"></script>
<script>
	$(".brand-option").click(function(){
		var n = $(this).index();
		console.log(n);
		$(".brand-option").removeClass("brand").eq(n).addClass("brand");
		$(".card .page-brand-list").removeClass('hover').eq(n).addClass('hover');
	})
</script>
</html>