<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="format-detection" content="telephone=no">
	
	<meta name ="keywords" content="竹签,竹文投,竹签文化,竹文品牌,美女,竹,签,周杰伦,刘德华,谭咏麟,金融,明星,电影,综艺,时政,胡歌,头条,热点,段子,内涵,你懂的,内涵段子">
<meta name="description" content="竹签,竹签文化,竹文投,竹文品牌,这是项目">
	<title>集团项目</title>
	<link rel="stylesheet" href="/static/index/css/base1.css">
	<link rel="stylesheet" href="/static/index/css/style.css">
	<link rel="stylesheet" href="/static/index/css/xm-global.css">
	<style>
	
		.jituan{
			background:#a6272c;
			color: #fff;
		}
	</style>
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
	

	<div class="fBg"></div>
	<div class="page-container">
		<div class="pageAbsout">
	    	<a href="/" class="indexlogo"></a>
	        <a href="">您所在的位置：</a> &gt;
	        <a href="{:url('index/index')}">竹文投</a> &gt;  
	        <a href="{:url('index/'.$onenav.htmlName,['id'=>$onenav.id])}">{$onenav.navName}</a> &gt; 
	        <a href="" class="cur">{$location.navName}</a>
		</div>
	</div>

	<!-- 分类介绍 -->
	<div class="xm-container">
		{volist name="sannav" id="vo" key="k"}
		{if condition="($k%3==0)"}
		<div class="item" id="three">
		{else/}
		<div class="item">
		{/if}
			<!-- 图文 -->
			<div class="pic">
	        	<a id="">
	            	<img src="{$vo.img}" title="">
	        	</a>
		    </div>
			<div class="similars">
			    <!-- <span class="p4p-tag">适用性别:男</span> -->
			    <h3>{$vo.navName}</h3>
				<p>{$vo.desc}</p>
			  
				<div class="aa">
					<a href="{:url('index/article',['pid'=>$vo.id])}">
						
					</a>
				</div>
			</div>
			    
  		</div>
		{/volist}
  		<div class="item" id="three">
			<!-- 图文 -->
			<div class="mask">
				{volist name="twonav" id="vo" key="k"}
					{if condition="$vo.navName=='好莱坞影视'"}
						{if condition="($vo.navName==$location.navName)"}
							<a href="{:url('index/'.$vo.htmlName,['id'=>$vo.id])}" class="product_img">
								<p class="hover yellow">影视<br>系列</p>
							</a>
						{else/}
							<a href="{:url('index/'.$vo.htmlName,['id'=>$vo.id])}" class="product_img">
								<p>影视<br>系列</p>
							</a>
						{/if}
					{else/}
						{if condition="($vo.navName==$location.navName)"}
							<a href="{:url('index/'.$vo.htmlName,['id'=>$vo.id])}" class="product_img">
								<p class="hover yellow">
									{$vo.navName|mb_substr=0,2,'utf-8'}<br>
									{$vo.navName|mb_substr=2,2,'utf-8'}
								</p>
							</a>
						{else/}
							<a href="{:url('index/'.$vo.htmlName,['id'=>$vo.id])}" class="product_img">
								<p>
									{$vo.navName|mb_substr=0,2,'utf-8'}<br>
									{$vo.navName|mb_substr=2,2,'utf-8'}
								</p>
							</a>
						{/if}
					{/if}
				{/volist}
		  </div>
  	 </div>
  	 <div class="clearfix"></div>
	</div>

	<!-- 底部开始 -->
	{include file="Public/footer" /}
	
	
</body>
<script src="/static/index/js/jquery-1.12.4.min.js"></script>
<script src="/static/index/js/index.js"></script>
<script>
	

</script>
</html>
