<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="format-detection" content="telephone=no">

<meta name ="keywords" content="竹签,竹文投,竹签文化,竹文品牌,美女,竹,签,周杰伦,刘德华,谭咏麟,金融,明星,电影,综艺,时政,胡歌,头条,热点,段子,内涵,你懂的,内涵段子">
<meta name="description" content="竹签,竹签文化,竹文投,竹文品牌,这是招聘">
<title>社会招聘</title>
<link rel="stylesheet" href="/static/index/css/base1.css">
<link rel="stylesheet" href="/static/index/css/style.css">
<link rel="stylesheet" href="/static/index/css/contact/public.css">
<link rel="stylesheet" href="/static/index/css/contact/job.css">
</head>
<body>
<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
	<img src="/static/index/img/contact.jpg" alt="" width="100%">
	<div class="page-container">
		<div class="pageAbsout">
	    	<a href="/" class="indexlogo"></a>
	        <a href="">您所在的位置：</a>
	        <a href="/">竹文投</a> &gt;  
	        <a href="{:url('index/about',['id'=>42])}">联系我们</a> &gt; 
	        <a href="" class="cur">社会招聘</a>
		</div>
		
	</div>
<div class="tabs">
        <div class="box">
          <div class="box-option">
              <div class="option">
                  <ul>
                      <li><a href="{:url('index/about',['id'=>44])}">招聘公告</a></li>
                      <li><a href="" class="current">社会招聘</a></li>
                      <li><a href="/index/index/faq">招聘FAQ</a></li>
                        <div class="clearfix"></div>
                  </ul>
              </div>
          </div>
            <div class="clearfix"></div>
            <!-- 选项卡内容 -->
            <div class="card">
                <ul>
                  <li class="hover"> 
                  <p class="notice">社会招聘</p>
                  <table>
                    <thead>
                        <tr>
                            <th>职位名称</th>
                            <th>职业类别</th>
                            <th>人数</th>
                            <th>工作地点</th>
                            <th>发布时间</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{volist name="data" id="vo"}
                    	<tr class="zhaopin">
	                       <td>
	                         <a href="{:url('index/zhaopin',['id'=>$vo.id])}">{$vo.zhiwei}</a>
	                       </td>
	                       <td>{$vo.bumen}</td>
	                       <td>{$vo.renshu}</td>
	                       <td>{$vo.didian}</td>
	                       <td>{$vo.start}</td>
                    	</tr>
                    	{/volist}
                    </tbody>
                  </table>
                  <div class="clearfix"></div>
                   </li> 
                </ul>
            </div>
         </div>
     </div>

<!-- 底部开始 -->
	{include file="Public/footer" /}
</body>
<script src="/static/index/js/jquery-1.12.4.min.js"></script>
<script src="/static/index/js/index.js"></script>
<script>
	$(".down_2:nth-").css("display","block");

</script>
</html>