<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="format-detection" content="telephone=no">
<title>联系我们</title>
<link rel="stylesheet" href="/static/index/css/base1.css">
<link rel="stylesheet" href="/static/index/css/style.css">
<link rel="stylesheet" href="/static/index/css/contact/public.css">
<link rel="stylesheet" href="/static/index/css/contact/job.css">
<link rel="stylesheet" href="/static/index/css/contact/zhaopin.css">
</head>
<body>
<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
	<img src="/static/index/img/contact.jpg" alt="" width="100%">
	<div class="page-container">
		<div class="pageAbsout">
	    	<a href="/" class="indexlogo"></a>
	        <a href="">您所在的位置：</a>
	        <a href="/">竹文投</a> &gt;  
	        <a href="{:url('index/about',['id'=>42])}">联系我们</a> &gt; 
	        <a href="" class="cur">社会招聘</a>
		</div>
		<table class="tablelist" cellpadding="0" cellspacing="0">
		    <tbody>
		    	<tr class="h">
		    		<td colspan="3" class="ser" id="sharetitle">职位：{$zhaopin.zhiwei}</td>
		    	</tr>
		    	<tr class="c bottomline">
		    		<td><span class="ser">工作地点：</span>
		    		{$zhaopin.didian}	    		
		    		</td>
		    		<td><span class="lightblue">所属部门：</span>{$zhaopin.bumen}</td>
		    		<td><span class="lightblue">招聘人数：</span>{$zhaopin.renshu}人</td>
		    	</tr>
          		<tr class="c bottomline">
		    		<td colspan="3">
              		<span class="ser">有效期：</span>
               			 {$zhaopin.start} 至 {$zhaopin.end}
           			</td>
		    	</tr>
		    	<tr class="c">
		    		<td colspan="3" class="ser1">
		    			{$zhaopin.introtext}
                    </td>
		    	</tr>
		    	<tr class="c">
                    <td colspan="3">
                        <h5>联系方式：</h5>
                        <p>联系人：竹签文化行政人事主管 谭女士 </p>
                        <p>简历投至：727000874@qq.com </p>
                        <p>联系电话：021-69981183 </p>
                        <p></p>
                    </td>
                </tr>
                <tr class="d">
                    <td style="text-indent:20px;" colspan="3">
                        <a href="#"  onClick="javascript :history.back(-1);">返回</a>
                    </td>
                </tr>
		    </tbody>
        </table>
	</div>
	
<!-- 底部开始 -->
	{include file="Public/footer" /}
</body>
<script src="/static/index/js/jquery-1.12.4.min.js"></script>
<script src="/static/index/js/index.js"></script>
<script>
	$(".down_2:nth-").css("display","block");

</script>
</html>