.fBg1{
    width: 100%;
    height: 100px;
    background: url(../images/xiangmu.jpg) no-repeat center center;
}
.page-container{
	width: 1060px;
    margin: 0 auto;
    /*margin-bottom: 50px;*/
}
.page-container h4{
    color: #787878;
}
.pageAbsout {
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8;
}
.pageAbsout a{
	display: inline-block;
}
.indexlogo {
    background: url(http://www.genzon.com.cn/webimages/inco13.png) 0 1px no-repeat;
    display: inline-block;
    width: 21px;
    height: 20px;
    vertical-align: middle;
}
.CoreProduct p{
    color: #787878;
}
.pageAbsout .cur{
	color: #a6272c;
}
.CoreImg{
    padding: 0px 0px 200px;
}
