<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<a href="{:url('lunbo/add')}">增加轮播图</a>
<table cellspacing="0" cellpadding="0" border="1" width="99%">
	<tr style="height:30px;text-align:center;">
		<th>轮播图主键</th>
		<th>轮播图路径</th>
		<th>轮播图缩略</th>
		<th>状态</th>
		<th>操作</th>
	</tr>
	{volist name="data" id="lunbo"}
	<tr style="height:30px;text-align:center;">
		<td>{$lunbo.id}</td>
		<td>{$lunbo.img}</td>
		<td><img height="100px" src="{$lunbo.img}"/></td>
		<td>{if condition="($lunbo.active == 1)"}
			<span>前台已启用</span>
			{else/}
			<span>前台未启用</span>
			{/if}
			<a href="{:url('lunbo/')}">更改</a>
		</td>
		<td>删除</td>
	</tr>
	{/volist}
</table>
</body>
</html>