<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="format-detection" content="telephone=no">
	<title>{$article.title}</title>
	<link rel="stylesheet" type="text/css" href="/static/index/css/base.css"/>
    <link rel="stylesheet" href="/static/index/css/footer.css">
	<link rel="stylesheet" href="/static/index/css/header1.css">
	<link rel="stylesheet" href="/static/index/css/main.css">
	<link rel="stylesheet" href="/static/index/css/caseCoffee.css">
	<style type="text/css">
		.items ul li p a{
			font-size:12px;
			color:#666;
		}
		.items ul li a img{
			margin-bottom:15px;;
		}
	</style>
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
		<!--case----banner-->
		
		<div class="banner"><img src="/static/index/img/trans.jpg" style="width:100%" /></div>
<!-- 内容 -->

<div class="content-wrapper">
<div id="content">
<h3>【店铺信息】</h3>

<p>《变形金刚5：最后的骑士》是派拉蒙影业、孩之宝联合制作、剧享影业等参与投资的一部机器人科幻电影，影片将会有两条故事线，一边是以凯德&middot;伊格尔（马克&middot;沃尔伯格 饰）为主的人类，将与恐龙金刚一起面对即将到来的新威胁；另一边是擎天柱在太空中搜寻其统治者&ldquo;五面怪&rdquo;，也是它派赏金猎人&ldquo;禁闭&rdquo;四处搜捕领袖，而擎天柱将在途中遭遇超级反派&ldquo;宇宙大帝&rdquo;。</p>

<p>《变形金刚5：最后的骑士》计划于2017年6月23日在北美地区上映。</p>
</div>
</div>

<div class="content-wrapper">
<div id="content">
<h3>【投资方&mdash;&mdash;剧享影业】</h3>

<p>1、剧享影业：竹文投品牌管理下的重要影视发展公司，是一家集院线电影投资、电影创作及衍生品开发的集团化公司，旗下有剧睦影业、剧享荟、剧聚、影视基金、艺人经纪及华盛泰和等数家公司。</p>

<p>2、剧睦：主要从事公司电影项目的投资及制作，最终IPO。</p>

<p>3、云端动画：剧享参股，我们拥有一支技术精湛、设计新颖、创意前卫的CG动画创作平台，为每位客户量身定做适合其产品的创意设计。</p>
<p>4、剧聚、性质：工作室，剧本的创作和收购。</p>

<p>5、基金公司：影视基金成立及发布。</p>

<p>6、艺人经纪公司：本公司签约数十位艺人，主要从事艺人广告代言等商务合作。</p>

<p>7、华盛泰和：电影、电视剧、网剧、网络大电影及广告拍摄等内容制作。</p>
</div>
</div>

<div class="content-wrapper" style="margin-bottom:100px;padding-bottom:30px;">
<div id="content1">
<h3>【剧享影业已投电影项目一览】</h3>

<div class="items">
<ul>
	<li><a href="#"><img alt="" src="/static/index/img/movie1.jpg" /> </a>

	<p><a href="#">主演：井柏然、鹿晗、马思纯</a></p>
	<a href="#"> </a>

	<p><a href="#">影片状态：已完结</a></p>
	<a href="#"> </a>

	<p><a href="#">影片票房：10.04亿</a></p>
	<a href="#"> </a></li>
	<li><a href="#"><img alt="" src="/static/index/img/movie2.jpg" /> </a>
	<p><a href="#">主演：成龙、黄子韬、王凯</a></p>
	<a href="#"> </a>

	<p><a href="#">影片状态：已完结</a></p>
	<a href="#"> </a>

	<p><a href="#">影片票房：7亿</a></p>
	<a href="#"> </a></li>
	<li><a href="#"><img alt="" src="/static/index/img/movie3.jpg" /> </a>
	<p><a href="#">出品公司：剧享影业、微影时代、</a></p>
	<a href="#"> </a>

	<p><a href="#">云端动画</a></p>
	<a href="#"> </a>

	<p><a href="#">制片人：姜辉《大圣归来》制片人</a></p>
	<a href="#"> </a>

	<p><a href="#">预估票房：2-3亿</a></p>
	<a href="#"> </a></li>
	<li><a href="#"><img alt="" src="/static/index/img/movie4.jpg" /> </a>
	<p><a href="#">出品公司：剧享影业、追踪文化</a></p>
	<a href="#"> </a>

	<p><a href="#">预计上映时间：2018年3月</a></p>
	<a href="#"> </a>

	<p><a href="#">预估票房：暂无</a></p>
	<a href="#"> </a></li>
</ul>
</div>
</div>
</div>

		<!-- 底部开始 -->
	    {include file="Public/footer" /}
</body>
</html>