<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{$article.title}</title>
	<link rel="stylesheet" type="text/css" href="/static/index/css/base.css"/>
    <link rel="stylesheet" href="/static/index/css/footer.css">
	<link rel="stylesheet" href="/static/index/css/header1.css">
	<link rel="stylesheet" href="/static/index/css/main.css">
	<link rel="stylesheet" href="/static/index/css/caseCoffee.css">
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
		<!--case----banner-->
		
		{$article.introtext}
		<!-- 底部开始 -->
	    {include file="Public/footer" /}
</body>
</html>