<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{$article.title}</title>
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/static/index/css/base.css"/>
    <link rel="stylesheet" href="/static/index/css/footer.css">
	<link rel="stylesheet" href="/static/index/css/header1.css">
	<link rel="stylesheet" href="/static/index/css/main.css">
	<link rel="stylesheet" href="/static/index/css/caseCoffee.css">
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
		<!--case----banner-->
		
		<!--case----banner-->
<div class="banner"><img src="/static/index/img/case-banner.jpg" style="height:599px; width:100%" /></div>
<!-- <div class="clearfix"></div> -->

<div class="content-wrapper">
<div id="content">
<h3>【店铺信息】</h3>

<p>自2005年2月创立，是中国第一家女仆咖啡店。从此将女仆文化带入中国。</p>

<p>持牌人月下见，更先后自东莞、珠海等地建立加盟店，同时也有各地、包括香港、澳门、上海、重庆、玉林等等地方的女仆店都来找其</p>

<p>取经，并其帮助下开办了属于自己女仆咖啡店。</p>

<p>女仆的造型，让人觉得自己的身份都会高贵。</p>

<p>伊莱特以最优的服务、最浪漫的形式，最适中的价格，最优雅的环境，服务于年轻一族、宅人聚会或者动漫发烧友。</p>

<p>推荐菜式：咖啡沙冰，榴连三文治，雪糕红豆冰，香蕉沙冰。</p>

<p>适合类型：情侣约会，朋友聚会，独自FB，随便吃吃。</p>

<p>营业时间：11:30---21:30</p>

<p>精彩点评：http://food.poco.cn/res_detail-htx-id-93448.shtml</p>
</div>
</div>

<div class="content-wrapper">
<div id="content1">
<h3>【店铺文化影响和地位】</h3>

<div class="items">
<ul>
	<li><a href="#"><img alt="" src="/static/index/img/24.jpg" /> </a>

	<p><a href="#">中国最早</a></p>
	<a href="#"> </a>

	<p><a href="#">女仆咖啡店</a></p>
	<a href="#"> </a></li>
	<li><a href="#"><img alt="" src="/static/index/img/25.jpg" /> </a>
	<p><a href="#">&ldquo;女仆文化&rdquo; </a></p>
	<a href="#"> </a>

	<p><a href="#">传播者</a></p>
	<a href="#"> </a></li>
	<li><a href="#"><img alt="" src="/static/index/img/26.jpg" /> </a>
	<p><a href="#">最早开办</a></p>
	<a href="#"> </a>

	<p><a href="#">衍生演唱会等活动</a></p>
	<a href="#"> </a></li>
	<li><a href="#"><img alt="" src="/static/index/img/27.jpg" /> </a>
	<p><a href="#">女仆服装 </a></p>
	<a href="#"> </a>

	<p><a href="#">设计比赛</a></p>
	<a href="#"> </a></li>
</ul>
<div class="clearfix"></div>
</div>
</div>
</div>

<div class="content-wrapper">
<div id="content2">
<h3 style="margin-bottom: 10px;">【桠梨动漫设计】</h3>

<div class="desgin"><img alt="" src="/static/index/img/28.jpg" />
<h4>桠梨动漫设计（上海）有限公司</h4>

<p style="line-height: 25px">桠梨动漫设计（上海）有限公司是竹文投旗下一家专业的动漫设计公司。公司宗旨是以弘扬&ldquo;动漫文化&rdquo;为中心，以提升企业创新发展力为目的，并借助团队技术与创新力，打造属于自己的动漫品牌，旗下已推项目包括Animeidol动漫歌谣祭、依莱特宫殿女仆咖啡厅连锁。</p>
</div>

<div class="desgin-title">
<div class="title1">
<h4>桠梨相关动漫活动：Animeidol动漫歌谣祭</h4>

<p>Animeidol动漫歌谣祭是针对&ldquo;二次元流行文化&rdquo;重磅推出的动漫偶像大赛。通过制造热点，打造覆盖全国的线上线下宣传矩阵，并计划启动十个赛区，覆盖北上广、澳门、深圳、珠海、重庆、江门、南宁等&ldquo;二次元文化&rdquo;盛行的城市。</p>
</div>

<div class="title1">
<h4>大赛亮点：</h4>
<p>高颜值、专业化的国际动漫嘉宾评委，走进校园、

走入商圈，高额奖金、直播营销。</p>
</div>

<div class="title1">
<h4>大赛目的：</h4>
<p>打品牌，造热点，挑选演艺人才，同时为自产艺人提供一年不 下十五次工作和曝光机会。</p></div>

<div class="title1">
<h4>大赛性质：</h4>
<p>歌唱比赛的延伸小型业余动漫演唱会。</p></div>

<div class="title1">
<h4>大赛计划：</h4>
<p>一个赛区每年可做1&mdash;4次，发展&ldquo;二次元文化&rdquo;并培养出自产艺人。</p></div>
</div>
</div>
</div>

		<!-- 底部开始 -->
	    {include file="Public/footer" /}
</body>
</html>