<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{$article.title}</title>
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/static/index/css/base.css"/>
    <link rel="stylesheet" href="/static/index/css/footer.css">
	<link rel="stylesheet" href="/static/index/css/header1.css">
	<link rel="stylesheet" href="/static/index/css/main.css">
	<link rel="stylesheet" href="/static/index/css/caseCoffee.css">
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
		<!--case----banner-->
		
		<div class="banner"><img src="/static/index/img/19.jpg" style="height:599px; width:100%" /></div>
<!-- 内容 -->

<div class="content-wrapper">
<div id="content">
<h3>【动漫信息】</h3>

<p>故事简介：拥有灵魂的丸子们有着一样的目标，就是离开章鱼烧车车。突发性犯二症的皛、娇滴滴少女酱紫、可爱外表大叔灵魂的海之、女汉子如弓、需要被保护的男人横将，</p>
<p>他们逃跑的成功率是1000***：0（没有成功过），丸子们的都特别喜爱怀旧经典歌曲！而且章鱼车车会出现世界各地或许有一天也会出现在你身边喔！这样你还舍得吃他们吗？</p>
<p>&nbsp;</p>
<p>故事讲述他们逃跑的过程，轻松幽默的进行着努力着，或许有着共同目标的原因吧！丸子们都充满着冲劲去面对每次困难，虽然是失败的。 但是他们相信有一天可以去自由自在的享受这个世界的美好，还可以和小伙伴们一起去浪迹天涯！发生的故事幽默搞笑却富有着灵魂。</p>
<p>&nbsp;</p>
<p>类型：幽默搞笑、暖心、励志</p>
<p>动画片：25集/3分钟</p>
<p>漫画+绘本 ：20本</p>
</div>
</div>

<div class="content-wrapper">
<div id="content">
<h3>【制作方&mdash;&mdash;蓝漫文化，动漫界的童话】</h3>

<p>蓝漫文化公司是一家集原创卡通形象设计,影视动画制作,平面设计及电视发行于一体的文化品牌管理公司。</p>
&nbsp;

<p>团队主要人员有丰富的卡通形象设计、平面设计及服务企业系统设计的相关经验，</p>

<p>其原创卡通形象RABBYCC网络曝光数据高达1亿点击下载率。</p>
&nbsp;

<p>2016年五月推出的新形象Lapin/卡伦露娜、丸子魂短短三天已经升入百度搜索的首页。</p>
</div>
</div>

<div class="content-wrapper">
<div id="content">
<h3 style="margin-bottom: 10px;">【计划推动项目】</h3>
<img alt="" src="/static/index/img/lapin.jpg" />
<div class="title" style="float:right">
<p>Lapin 卡伦露娜之日常</p>

<p>故事简介：在中国的某一条街道上住着几位元气少女，每天发生的事</p>

<p>情也正是大家都会遇到的，平凡般的日常，你是否也会遇到像她们的</p>

<p>事情呢？</p>

<p>集数：25集/3分钟（预计）</p>

<p>类型：暖心、幽默</p>

<p>产品影响力：表情包已上线</p>
</div>
</div>
</div>

		<!-- 底部开始 -->
	    {include file="Public/footer" /}
</body>
</html>