<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="format-detection" content="telephone=no">
    <!--<link rel="stylesheet" href="/static/index/css/instroduction.css">-->
    <link rel="stylesheet" href="/static/index/css/brand.css">
    <link rel="stylesheet" href="/static/index/css/base.css">
    <link rel="stylesheet" href="/static/index/css/footer.css">
	<link rel="stylesheet" href="/static/index/css/header1.css">
	<link rel="stylesheet" href="/static/index/css/page.css">
    <title>竹文投资管理有限公司</title>
    <style type="text/css">
	.table{
		text-align:center;
		width:100%;
	}
	</style>
</head>
<body>
     <!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
    <img src="/static/index/img/brand.jpg" alt="" height="356.81" width="100%">
    <!--选项卡-->
    <div class="tabs">
        <div class="box">
	        <div class="box-option">
	            <div class="option">
	                <ul>
	                	{volist name="xiaonav" id="xiao"}
	                	{if condition="($xiao.navEname==$navEname)"}
	                	<li><a href="{:url('index/nav',['id'=>$xiao.id])}" class="current">{$xiao.navName}</a></li>
	                	{else/}
	                	<li><a href="{:url('index/nav',['id'=>$xiao.id])}">{$xiao.navName}</a></li>
	                	{/if}
	                	{/volist}
	                    <div class="clearfix"></div>
	                </ul>
	            </div>
	        </div>
	        <!-- 选项卡内容 -->
            <div class="clearfix"></div>
            <div class="card">
            	<ul>
                    <li class="hover"> 
	                    	{volist name="brand" id="vo" key="k"}
								{if condition="($k%2==0)"}
			                    <div class="wrapper wenhua">
					                <div class="box1">
						                <div class="img left">
						                	<img src="{$vo.img}" alt="" width="197">
						                </div>
						               	<div class="title right">
							               	<h2 style="margin-bottom:20px;">{$vo.title}</h2>
							               	{$vo.introtext}
						               	</div>
					                </div>
			                	</div>
								{else/}
								<div class="wrapper  wenhua  addClass">
					                <div class="box1">
						                <div class="img left">
						                	<img src="{$vo.img}" alt="" width="197">
						                </div>
						               	<div class="title right">
							               	<h2 style="margin-bottom:20px;">{$vo.title}</h2>
							               	{$vo.introtext}
						               	</div>
					                </div>
			                	</div>
								{/if}
		                    {/volist}
                    </li>
            	</ul>
            </div>
        </div>
	</div>
	<div class="clearfix"></div>
	 {$page}
	<script src="/static/index/js/jquery-1.12.4.min.js"></script>
<script>
	 $(document).ready(function(){
        $(".a-t:eq(2)").css("color","#666");
        $(".wenhua:even").css("background","#fff")
        $(".wenhua:odd").css("background","#f1f1f1")
        
    });
</script>
<!-- js  分页 -->
<script type="text/javascript" src="/static/index/js/fenye.js"></script>	        
	<!-- 底部开始 -->
	{include file="Public/footer" /}
</body>
</html>