<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="format-detection" content="telephone=no">
    <title>竹文投资产管理公司</title>
    <link rel="stylesheet" href="/static/index/css/header1.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/base.css"/>
    <link rel="stylesheet" href="/static/index/css/footer.css">
    <link rel="stylesheet" href="/static/index/css/play.css">
    <!--<link rel="stylesheet" type="text/css" href="./css/style.css"/>-->
	<!--[if gt IE 8]><!-->
	<script src="/static/index/js/jquery-3.1.1.min.js"></script>
	<link href="/static/index/css/flickerplate.css" rel="stylesheet">

	<script src="/static/index/js/modernizr-custom-v2.7.1.min.js"></script>
	<script src="/static/index/js/jquery-finger-v0.1.0.min.js"></script>
	<script src="/static/index/js/flickerplate.min.js"></script>
	<script src="/static/index/js/style.js"></script>
	<link rel="stylesheet" href="/static/index/css/main.css">
	<!--<![endif]-->

	<!--[if lte IE 8]>
	<script src="./js/jquery-1.12.4.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	<!-- 首页头部结束-->
	<!--轮播图-->
	{include file="Public/play" /}
	<!--main-->
	{include file="Public/main" /}
	<!--footer-->
	{include file="Public/footer" /}
</body>
</html>

