<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">

	<meta name="apple-mobile-web-app-capable" content="yes">

	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="format-detection" content="telephone=no">
	<title>竹文投资管理有限公司</title>
	<link rel="stylesheet" type="text/css" href="/static/index/css/base.css"/>
	<link rel="stylesheet" href="/static/index/css/header1.css">
    <link rel="stylesheet" href="/static/index/css/footer.css">
	
	<link rel="stylesheet" href="/static/index/css/zhaopin.css">
	<link rel="stylesheet" href="/static/index/css/instroduction.css"/>
	
	<!--后台分页的样式-->
	<link rel="stylesheet" href="/static/index/css/page.css">
</head>
<body>
	<!-- 首页头部开始 -->
	{include file="Public/top" /}
	
	<!-- 首页头部结束-->
	 <img src="/static/index/img/join.jpg" alt="" width="100%">
	<!--选项卡-->
 
  	<div class="tabs">
        <div class="box">
	        <div class="box-option">
	            <div class="option">
	                <ul>
	                	{volist name="xiaonav" id="xiao"}
	                	{if condition="($xiao.navEname==$navEname)"}
	                	<li><a href="{:url('index/nav',['id'=>$xiao.id])}" class="current">{$xiao.navName}</a></li>
	                	{else/}
	                	<li><a href="{:url('index/nav',['id'=>$xiao.id])}">{$xiao.navName}</a></li>
	                	{/if}
	                	{/volist}
	                    <div class="clearfix"></div>
	                </ul>
	            </div>
	        </div>
            <div class="clearfix"></div>
            <!-- 选项卡内容 -->
            <div class="card">
                <ul>
                	<li class="hover"> 
	                	{if condition="($zp=='zp')"}
	                	  <p class="notice">社会招聘</p>
				          <table>
				            <thead>
				                <tr>
				                    <th>职位名称</th>
				                    <th>职业类别</th>
				                    <th>人数</th>
				                    <th>工作地点</th>
				                    <th>发布时间</th>
				                </tr>
				            </thead>
				            <tbody>
				            {volist name="join" id="vo"}
				            <tr class="zhaopin">
				               <td>
				                 <a href="{:url('index/zhaopin',['id'=>$vo.id])}">{$vo.zhiwei}</a>
				               </td>
				               <td>{$vo.bumen}</td>
				               <td>{$vo.renshu}</td>
				               <td>{$vo.didian}</td>
				               <td>{$vo.start}</td>
				            </tr>
				            {/volist}
				            </tbody>
				          </table>
	                	{else/}
	                	
	                	{volist name="join" id="vo"}
	                		<p class="notice">{$vo.title}</p>
	                		<div>
					            {$vo.introtext}
					         </div>
	                	{/volist}
	                	
	                	{/if}
	                    <div class="clearfix"></div>
                   </li> 
                </ul>
            </div>
         </div>
     </div>
{$page}
	<!-- 底部开始 -->
	{include file="Public/footer" /}
</body>
<script src="/static/index/js/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function(){
        $(".a-t:eq(4)").css("color","#666");
    });
</script>

</html>